
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, html {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-left: 25px;
    margin-right: 25px;
    column-gap: 10px;
    grid-template-areas:
        "title title"
        "contenido proyectos";
}

#left {
    padding: 30px;
    padding-top: 0;
    grid-area: contenido;
}

#right {
    padding: 30px;
    padding-top: 0;
    grid-area: proyectos;
}

h1 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    font-size: 5em;
    font-weight: bold;
    color: hwb(253 2% 3%);
    
}

h1:hover {
    visibility: visible;
    opacity: 1;
}

h2 {
    visibility: visible;
    opacity: 0.03;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    font-size: 8em;
    color: hwb(253 2% 3%);
   
}

h2 :hover {
    visibility: visible;
    opacity: 1;

}

h3 {
    visibility: visible;
    opacity: 0.02;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    font-size: 3em;
    color: hwb(253 2% 3%);
   
}

h3 :hover {
    visibility: visible;
    opacity: 1;

}

p {  
    text-align: right;
    visibility: visible;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    font-size: 18px;
    color: hwb(253 2% 3%);
}

p:hover {
    visibility: visible;
    opacity:1;
}

.title {
    grid-area: title;
    text-align: center;
    
}

.title:hover h1 {
    visibility: visible;
    opacity: 1;
}

.content {
    padding: 0;
    text-align: start;
    word-break: keep-all;
}

.proyectos {
    display: list-item;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    height: 450px;
    overflow-y: manual;
}

.proyectos nav {
    display: contents;
}

.proyectos a {
    display: block;
}

.proyectos nav a img {
    opacity: 0;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 8px solid hwb(253 2% 3%);
    border-style: dashed;
    transition: opacity 0.5s ease;
}

.proyectos:hover img {
    opacity: 1;
}

/*proyecto center*/
.proyectos center {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    height: 450px;
    overflow-y: manual;
}

.proyectos center nav {
    display: contents;
}

.proyectos center a {
    display: block;
}

.proyectos center nav a img {
    opacity: 0;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 8px solid hwb(253 2% 3%);
    border-style: dashed;
    transition: opacity 0.5s ease;
}

.proyectos center:hover img {
    opacity: 1;
}

button {
    visibility: visible;
    opacity: 0;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgb(251, 251, 251);
    font-size: 20px;
    font-weight: bold;
    color: hwb(253 2% 3%);
    border: dashed;
    cursor: pointer;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Le bouton devient visible uniquement quand la souris est dessus */
button:hover {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 900px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "title"
            "contenido"
            "proyectos";
        margin: 0 10px;
    }
    
    h1 {
        font-size: 3em;
    }
}



/*